@model ReviewApp.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <section>
        <h1>Details for @Model.Name</h1>

    </section>

    @foreach (var review in Model.Reviews)
    {
        <div>
            <a href="/reviews/details/@review.Id">@review.Title</a>
        </div>

    }     

    <nav class="nav">
            <a href="/Reviews">Home</a>
            <a href="/Category">Categories</a>
            <a href="/Tags">Tags</a>
    </nav>
</body>
</html>
