@model ReviewApp.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <script>
        var reviewId = @Model.Id;
    </script>
</head>
<body>
    <section>
        <h1>Details for @Model.Name</h1>

    </section>
    @foreach (var review in Model.Reviews)
    {
        <div>
            <a href="/reviews/details/@review.Id">@review.Title</a>
        </div>

    }

     <section>
        <h2>Tags</h2>
        <ol id="tag-list"></ol>
    </section>

    <h3>New Tag</h3>
    <textarea id="new-tag"></textarea>
    <button id="save-tag">Save</button>

    <footer>
        <a href="/reviews/index">Home Page</a>
    </footer>
</body>
</html>
