@model IEnumerable<ReviewApp.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <h1>Categories</h1>

    @foreach (var category in Model)
    {
        <div>
            <a href="/category/details/@category.Id">@category.Id  - @category.Name</a>
        </div>
    }

    <nav class="nav">
        <a href="/Reviews">Home</a>
        <a href="/Category">Categories</a>
        <a href="/Tags">Tags</a>
    </nav>
</body>
</html>
