@model ReviewApp.Models.Tag
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <script>
        var reviewId = @Model.Id;
    </script>
</head>
<body>
    
    
</body>
</html>
